@import "tailwindcss";

@theme {
  --color-primary-navy: #102E55;
  --color-primary-blue: #114A87;
  --color-secondary-blue: #0E5B92;
  --color-primary-teal: #18A990;
  --color-secondary-teal: #0C8E9E;
  --color-dark-teal: #075D80;
  --color-background: #F7F9FC;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #1f2937; /* gray-800 */
    font-family: var(--font-sans);
  }
}
